.single_pbackground {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-attachment: fixed;
  height: 91vh;
  position: relative;
}
.single_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  background-color: #fafafa;
}
.poke_Img {
  margin: 0 auto;
}
.poke_desciption {
  padding-top: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.goback {
  padding: 7px 7px;
  margin-left: 10px;
}
